# COMMON SETTINGS
TITLE=water-closet-msk
DEBUG=True
ALLOWED_HOSTS=["*","localhost"]
LOG_LEVEL=INFO
TIMEZONE=Europe/Moscow

# JWT
TOKEN_SECURE=True
JWT_SECRET_KEY=d26cdb5f01cf1b6fea5b7c89fea6d3d90f9e0fb4c684641c516845717c94eb10
AUTH_TOKEN_TIMEDELTA=3600

COOKIE_DOMAIN=

LDAP_HOST=
BASE_ON=